<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.biz.repository.OrderRepository">

	<select id="getDub" resultType="com.albedo.java.modules.biz.domain.Video">
		select v.audio_text, v.audio_url
		from t_order o
				 left join t_video v on v.order_id = o.id
		where o.id = #{orderId}
		  and v.duration is not null
		  and v.audio_text is not null
		limit 1
	</select>

</mapper>
