@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'btn';
@import 'albedo';
/*! autoprefixer: off */
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px 20px 45px 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//
////修改el-button默认的样式
//.el-button--primary{
//  background-color: #ff5000;
//  border-color: #ff5000;
//}
//.el-button--primary:focus{
//  background-color: #ff5000 !important;
//  color: white !important;
//  border-color: #ff5000 !important;
//}
//.el-button--primary:hover{
//  background-color: #ff5000 !important;
//  border-color: #ff5000 !important;
//  color: white !important;
//}
//
//.el-tabs__item:hover{
//  color: #ff5000 !important;
//}
//
//.el-tabs__item.is-active{
//  color: #ff5000 !important;
//}
//.el-tabs__active-bar {
//  background-color: #ff5000 !important;
//}
//
//.el-button:hover{
//  background-color: rgba(255, 80, 0, 0.1);
//  color: #ff5000;
//  border-color: rgba(255, 80, 0, 0.1);
//}
//.el-button:focus{
//  background-color: rgba(255, 80, 0, 0.1);
//  color: #ff5000;
//  border-color: rgba(255, 80, 0, 0.1);
//}
//
//
////修改el-radio默认样式
//.el-radio-button{
//  margin: 5px;
//  margin-bottom: 10px;
//}
//.el-radio-button__inner{
//  border: 1px solid #DCDFE6 !important;
//  border-radius: 4px !important;
//  padding: 2px !important;
//}
//.el-radio-button__inner:hover{
//  background-color: rgba(255, 237, 229, 0.4);
//  color: #ff5000;
//  border-color: #ff5000 !important;
//}
//
//.el-radio-button__orig-radio:checked+.el-radio-button__inner{
//  color: white;
//  background-color: #ff5000;
//  border-color: #ff5000;
//  box-shadow: none;
//}
////修改el-check-button样式
//.el-checkbox-button{
//  margin: 5px;
//}
//.el-checkbox-button__inner{
//  border: 1px solid #DCDFE6 !important;
//  border-radius: 4px !important;
//  padding: 2px !important;
//}
//.el-checkbox-button__inner:hover{
//  background-color: rgba(255, 237, 229, 0.4);
//  color: #ff5000;
//  border-color: #ff5000 !important;
//}
//.el-checkbox-button.is-checked .el-checkbox-button__inner{
//  background-color: #ff5000;
//  color: white;
//  border-color: #ff5000;
//  box-shadow: none;
//}
//
//
//.el-radio.is-bordered.is-checked{
//  border-color: #ff5000 !important;
//}
//.el-radio__input.is-checked .el-radio__inner{
//  border-color: #ff5000 !important;
//  background-color: #ff5000 !important;
//}
//.el-radio__input.is-checked+.el-radio__label{
//  color: #ff5000;
//  .button-icon{
//    background-color: #ff5000;
//  }
//  .button-text{
//    color: #ff5000 !important;
//  }
//}
//.el-radio__inner:hover{
//  border-color: #ff5000 !important;
//  //background-color: #ff5000 !important;
//}
//
//.el-step__title.is-finish{//修改步骤条颜色
//  color: #ff5000;
//}
//.el-step__head.is-finish{
//  color: #ff5000;
//  border: #ff5000;
//}
//.el-menu-item:hover{
//  color: #ff5000 !important;
//}
//
////.el-input__inner:focus{
////  border: #ff5000 1px solid !important;
////}
////.el-input__inner:hover{
////  border: #ff5000 1px solid !important;
////}
////.el-input-number__increase:hover{
////  color: #ff5000;
////}
//.el-input-number__decrease:hover{
//  color: #ff5000;
//}
//.el-textarea__inner:focus{
//  border: #ff5000 1px solid !important;
//}
//
//.el-checkbox__input.is-checked+.el-checkbox__label{
//  color: #ff5000;
//}
//.el-checkbox__inner:hover{
//  border-color: #ff5000 !important;
//}
//.el-checkbox__input.is-checked .el-checkbox__inner{
//  background-color: #ff5000;
//  border-color: #ff5000;
//}
/*! autoprefixer: on */
